Repository koishijs/koishi, pull requests merged in 2021-04, with the labels that each got.

#198 chore(discord): assign App.options.axiosConfig to bot.sendEmbedMessage
  packages/adapter-discord/src/bot.ts
Labels: adapter: discord, feature

#202 fix(discord): handle file url, fix #201
  packages/adapter-discord/src/bot.ts
Labels: adapter: discord

#215 feat(webui): virtual message list
  .eslintrc.yml
  packages/plugin-chat/client/chat.vue
  packages/plugin-chat/src/receiver.ts
  packages/plugin-webui/client/components/chat-panel.vue
  packages/plugin-webui/client/components/message.vue
  packages/plugin-webui/client/components/virtual-list/index.vue
  packages/plugin-webui/client/components/virtual-list/virtual.ts
  packages/plugin-webui/client/index.ts
  packages/plugin-webui/client/tsconfig.json
  packages/plugin-webui/client/views/layout/overlay.vue
Labels: plugin: webui

#212 fix(discord): improvements
  packages/adapter-discord/src/bot.ts
  packages/adapter-discord/src/index.ts
  packages/adapter-discord/src/types.ts
  packages/adapter-discord/src/utils.ts
Labels: adapter: discord
